.container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Arial', sans-serif;
    border-style: solid;
    border-radius: 8px;
    border-color: #2e343a;
    max-width: 65%;
    max-height: auto;
    background-color: #e3f2ea;
}

#opacity {
    background-color: rgba(227, 242, 234, 0.5);
}

.guess {
    display: flex;
    align-items: center;
}

.guess div {
    display: inline-block;
    align-items: center;
}

#guess-container h6 {
    margin: 0;
}

#guess-container img {
    max-width: 50px;
    height: auto;
    margin-left: 30px;
}

/* Add styles for the elements inside the container */
.date,
.map,
.remaining-guesses,
.guesses-container,
.current-guess,
.buttons {
    margin: 10px;
    border: 2px solid #2e343a;
    padding: 10px;
    background-color: #e3f2ea;
    border-radius: 8px;
    z-index: 1;
}

button {
    padding: 10px 20px;
    background-color: #2e343a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
    /* Add a smooth transition on hover */
    z-index: 1;
}

button:hover {
    background-color: #2e343a;
    /* Change the background color on hover */
    color: #fff;
    /* Change text color on hover */
}