.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0; /* Set a background color for the container */
    font-family: 'Arial', sans-serif; /* Change the font family */
}

/* Add styles for the elements inside the container */
.date, .map, .remaining-guesses, .guesses-container, .current-guess, .buttons {
    margin: 10px;
    border: 2px solid #2e343a;
    padding: 10px;
    background-color: #fff; /* Set a background color for the elements */
    border-radius: 8px; /* Add rounded corners */
}

button {
    padding: 10px 20px;
    background-color: #2e343a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s; /* Add a smooth transition on hover */
}

button:hover {
    background-color: #2e343a; /* Change the background color on hover */
    color: #fff; /* Change text color on hover */
}